@charset "utf-8";

html,figure,body,h1,h2,h3,h4,h5,h6,p,img,form,fieldset,legend,ul,ol,dl,li,dd,dt{
	margin:0;
	padding:0;
}
ul,ol,dl{
	list-style:none;
}
a{
	
	text-decoration:none;
}
i,em,b,strong{
	font-style:normal;
	font-weight:normal;
}
.clear:after{
	content:"";
	overflow:hidden;
	height:0;
	visibility:hidden;
	display:block;
	clear:both;
}
img,fieldset{
	border:0;
	vertical-align:middle;
}
