@charset "utf-8";

html,body{
    background-color:#f5f5f5;
    
}
.header{
    width:100%;
    background-color:white;
}
.header_box{
    width:1226px;
    height: 100px;
    margin:0 auto;
    background-color:pink;
}
.header_box div{
    width:100px;height: 100px;background-color: red;
}

